<div class="post-header">
    <!-- <a class="logo" href="<%- url_for() %>"><%= config.title %></a> -->
    <div class="logo"><a href="<%- url_for() %>" title="<%= config.title %>"><img src="/img/logo.svg" alt="<%= config.title %>" aria-label="logo" height="20"></a></div>
    <ul class="nav">
        <% for (name in theme.menu) { %>
        <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
        <% } %>
    </ul>
</div>
